/*------------------------------------------------------------------
Background Color
-------------------------------------------------------------------*/
.bg-color,
.account-popup > form button,
.layer.color::before,
.pricetable > a,
.pricetable.active,
.bottom-line.style2{
    background-color: #29aafe ;
}

/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.pricetable-head h2,
.pricetable.active > a{
    color: #29aafe;
}

/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
COLOR SCHEME 2
-------------------------------------------------------------------*/

.forsticky.sticky .post-job-btn{
	border: 2px solid #f8ca42;
	background: transparent; color: #232323;
}
.post-job-btn{
	background-color: #f8ca42;
    border: 2px solid #e0a804;
}


.bg-color,
.post-job-btn,
.account-popup .close-popup,
.blog-metas a::before{
       background-color: #f8ca42;
}

/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.menu-sec nav > ul > li > ul li:hover > a,
.account-popup > form .cfield i,
.account-popup > form > a,
.chosen-container-single .chosen-single div::before,
.job-field i,
.chosen-container .chosen-results li.highlighted,
.active-result.result-selected,
.scroll-to a,
.p-category > a p,
.p-category:hover i,
.blog-metas a,
.blog-details > a{
    color: #29aafe ;
}
.job-title-sec span{
	color: #edbd3b
}
/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/
.border-color,
.select-user > span.active,
.browse-all-cat a{
    border-color: #29aafe ;
}

